<div class="container col-md-2 pt-5 mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Iniciar Sesión</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Usuario:</label>
                    <input [(ngModel)]="usuario.usuario" name="usuario" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Contraseña:</label>
                    <input [(ngModel)]="usuario.password" name="apellidos" type="password" class="form-control">
                </div>
                <button (click)="login()" class="btn btn-danger">Login</button>
                <button (click)="agregar()" class="btn btn-info" style="margin-left: 10px;">Registrarse</button>
            </form>
        </div>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
</div>